fastapi==0.136.1
joblib>=1.4.0
JPype1>=1.5.0
konlpy>=0.6.0
numpy==2.3.5
openai==2.8.1
python-multipart>=0.0.20
PyPDF2>=3.0.0
scikit-learn==1.8.0
sentence-transformers>=3.0.0
torch>=2.0.0
transformers>=4.40.0
uvicorn==0.47.0
pdf2image>=1.17
pytesseract>=0.3.10
